.env
backup/*
# Ignore custom paid plugins
# default WordPress plugins copied as part of container image, e.g:
# ../wp-content/plugins/akismet
wp-app/wp-content/plugins/all-in-one-wp-migration-unlimited-extension/*
# Ignore custom WordPress themes
# Default WordPress themes copied as part of container image, e.g:
# ../wp-content/themes/twentytwentyfive, twentytwentyfour, twentytwentythree
wp-app/wp-content/themes/*